{% load static %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Login-options</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body class="bg-gradient-light">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block">
                <img src="{% static 'img/django-crm-home.png' %}" class="rounded" alt="Cinque Terre">
              </div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Welcome,Choose your option!</h1>
                  </div>
                  <hr>
                  <!-- <a href="{% provider_login_url 'google' %}" class="btn btn-primary btn-block btn-lg">
                    <img src="{% static "btn_google_signin_dark_normal_web@2x.png" %}" style="width:14rem; height:auto;" alt="google_image" >
                  </a> -->
                  <a href="{% provider_login_url 'google' %}" class="btn btn-primary btn-block btn-lg" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                      <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"/>
                    </svg>  Sign in with Google</a>
                  </a>
                  <br>
                  <a href="{% url 'login' %}" class="btn btn-primary btn-block btn-lg">Login</a>
                  <br>
                  <a href="{% url 'register' %}" class="btn btn-danger btn-block btn-lg">Register / Sign Up</a>
                  <br>
                  
                  <a href="{% url 'password_reset' %}" class="btn btn-success btn-block btn-lg">Forgot Password</a>
                  <hr>
                  <!-- <a href="" class="btn btn-facebook btn-user btn-block">
                    <i class="fab fa-facebook-f fa-fw"></i> Login with Google
                  </a> -->
                  
                  <div class="text-center">
                    <a class="small" href="#" target="_blank">People Powered Skin & Hair Care.</a>
                  </div>
                  <div class="text-center">
                    <a class="small" href="#" target="_blank">100% Ayurvedic, Vegan, Sustainable and Clean Fomulation, infused with bio-active herbal ingredients Before Anyone Else.</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

</body>

</html>
